<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NeecoDMS.My.MySettings.db_WOlogConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;\\ad.neecovalves.com\Local File Server\Work Orders\WO App\db\db_WOlog.accdb&quot;;Jet OLEDB:Limited DB Caching=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>